@charset "UTF-8";

body {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
}

h1 {
    
    color: blue;
}

h2 {
    color: red;
}

p {
    text-align: justify;
}